<div class="jumbotron text-center">
    <h1>Customer Relations Management</h1>
 
    <p> An approach to managing a company’s interaction with current and future customers. </p>
    

    <div ng-if="!main.loggedIn">
    	<p>To login click on login button and enter <strong>username:</strong> <i>admin</i> &nbsp; <strong>password:</strong> <i>foo</i>.</p>
    	
        <button ng-if="!user.loggedIn" class="button btn btn-primary text-center" ng-click="main.doLogout()"> Login </button>
    </div>

</div>
